.container__project-title  {
    display: flex;
    justify-content: center;
}

.container__project-card {
    display: flex;
    justify-content: center;
}

.container__project-card img:hover {
    position: relative;
    z-index: 9999999999;
}