.container-skills {
    margin: 3rem;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

.skillzItem {
    /* width: 500px; */
    width: 150px;
    margin: 1rem;
    justify-content: space-between;
}

.skillzItem p {
    text-align: center;
}

.skillzItem img {
    margin: auto;
    width: auto;
    height: 50px;
}

.qualityItem img {
    margin: auto;
    max-width: 140px;
    height: 120px;   
}

.qualityItem img:hover {
    position:relative;
    z-index: 999999999;
}

.skillzItem img:hover {
    position:relative;
    z-index: 999999999;
}

.container__quality-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qualityItem p {
    text-align: center;
}

.qualityItem {
    margin: 1rem;
}

.container__skills-title {
    margin: 1rem;
}

.container__skills-content {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__skillzInProgress-title {
    margin: 1rem;
}

.container__skillzInProgress-content {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.otherItem-select {
    display:inline-block;
    flex-direction: column;
    justify-content: center;
}

.container__other-content p {
    text-align: left;
}

.otherItem span {
    color: #00dd00;
}

.otherItem b {
    color: white;
}
