.container-about {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
}

.container-about p {
    margin-bottom: 1rem;
    line-height: 1;
    text-align: justify;
    font-size: 1.5rem;
}

.trainPicture {
    margin-left: 1rem;
    width:200px;
    height:140px;
    float: right;
    position: relative;
    z-index: 1;
}

.computerPicture {
    margin-right: 1rem;
    width: 120px;
    height:150px;
    float: left;
    position: relative;
    z-index: 1;
}

.computerPicture:hover {
    position: relative;
    z-index: 99999999;
}

.trainPicture:hover {
    position: relative;
    z-index: 99999999;
}

.para {
    padding-bottom: 1rem;
}

.non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flash img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
    position: relative;
    z-index: 9999;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}