.pipboy {
    width: max-content;
    padding-top: 1rem;
    padding-right: 1rem;
    position: relative;
}

.pipboy_top {
    width: 100%;
    display: flex;
}

.pipboy_top-left {
    padding-left: 5px;
    border-top: 5px solid #00dd00;
    border-left: 5px solid #00dd00;
    width: 5rem;
}

.pipboy_top-middle {
    width: 5rem;
}

.pipboy_top-right {
    border-top: 5px solid #00dd00;
    border-right: 5px solid #00dd00;
    width: 5rem;
}

.pipboy_content {
    padding: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pipboy_content-left {
    justify-content: center;
}

.pipboy_bot {
    width: 100%;
    display: flex;
}

.pipboy_bot-left {
    padding-left: 5px;
    border-bottom: 5px solid #00dd00;
    border-left: 5px solid #00dd00;
    width: 5rem;
}

.pipboy_bot-middle {
    width: 5rem;
}

.pipboy_bot-right {
    border-bottom: 5px solid #00dd00;
    border-right: 5px solid #00dd00;
    width: 5rem;
}

.pipboy h5 {
    text-align: center;
    position: relative;
    top: -50%;
}

.pipboy_bot-middle h6 {
    color: #00dd00;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 50%;
}

.pipboy_bot-middle h6 a {
    color: #00dd00;    
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 50%;
}

/* .pipboy_bot-middle h6:hover {
    color: white;
} */

.flash img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
    position: relative;
    z-index: 9999;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
