h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container-home {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    margin: 3rem;
}

.container-home h2 {
    text-align: center;
}

.container-home p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: justify;
    display: block;
    white-space: pre-wrap;
    animation: textAnimation 1s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink::after {
        color: #00dd00;
        animation: blink 850ms steps( 1, start ) infinite;
        content: " █";
}

@keyframes textAnimation {
    0% {
      opacity: 0;
      transform: translateX(-100px) translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }
  }
